<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OnlineNote</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/ui/trumbowyg.min.css" integrity="sha512-K87nr2SCEng5Nrdwkb6d6crKqDAl4tJn/BD17YCXH0hu2swuNMqSV6S8hTBZ/39h+0pDpW/tbQKq9zua8WiZTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/plugins/colors/ui/trumbowyg.colors.min.css" integrity="sha512-VCJM62+9ou73PDL8ROa9D+lZKG9qrbGv91WxlU3Hyb4lfdnT5wBnLvX45vd45ENRU271iRI9xa1fYJbrVed8Jw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   
    @RenderBody()

    <div id="spinner-div">
        <div class="spinner-border text-primary" role="status">
        </div>
    </div>

    <div id="float-loading" title="Loading...">Loading...</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/trumbowyg.min.js" integrity="sha512-mBsoM2hTemSjQ1ETLDLBYvw6WP9QV8giiD33UeL2Fzk/baq/AibWjI75B36emDB6Td6AAHlysP4S/XbMdN+kSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/plugins/colors/trumbowyg.colors.min.js" integrity="sha512-52bFf3irVtdywgHnf4AlsSib8ixxl9FdKZvYNTAyqEVwQP0CKh5ncL85a8ehEyQSqU+clI7d/oGmb7ruF+YVRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/plugins/fontsize/trumbowyg.fontsize.min.js" integrity="sha512-WdhL8sm9nOrrL8uyZAPwKq6YIwmyYe2KUQjcEd7sBRNq0TSkWFbhRSg8x39okWRAnYIzD8Bex7kV2R3O/+VqTA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $("#logoutBtn").click(async function (event) {
            try {
                await fetch('@Url.Action("Logout", "Home")', {
                    method: 'POST',
                })
                location.reload();
            }
            catch {
                alert("ERROR")
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
