<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OnlineNote</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">

</head>
<body>
   
    @RenderBody()

    <div id="spinner-div">
        <div class="spinner-border text-primary" role="status">
        </div>
    </div>

    <div id="float-loading" title="Loading...">Loading...</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>

    <script>
        $("#logoutBtn").click(async function (event) {
            try {
                await fetch('@Url.Action("Logout", "Home")', {
                    method: 'POST',
                })
                location.reload();
            }
            catch {
                alert("ERROR")
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
