@model OnlineNote.Models.Account

@await Html.PartialAsync("_Nav.cshtml")

<br />
<div class="text-center">
    <button class="btn btn-info" type="button" id="addNewNoteBtn">ADD NOTE +</button>
</div>
<br />

@foreach(var item in Model.Note)
{
    <div style="display:flex;">
        <span>@item.Title</span>

        <button class="btn btn-outline-primary editNoteButton" note-id="@item.Id" type="button">EDIT</button>
        <button class="btn btn-outline-danger deleteNoteButton" note-id="@item.Id" type="button">DELETE</button>
    </div>
}


@section Scripts {
    <script>
        $("#logoutBtn").click(async function (event) {
            try {
                await fetch('@Url.Action("Logout", "Home")', {
                    method: 'POST',
                })
                location.reload();
            }
            catch {
                alert("ERROR")
            }
        });

        $("#homeBtn").click(function (event) {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });

    </script>
}