@model OnlineNote.Models.Account

@await Html.PartialAsync("~/Views/Shared/_Nav.cshtml")

<div class="container">
    <br />
    <div class="text-center">
        <button class="btn btn-info" type="button" id="addNewNoteBtn">ADD NOTE +</button>
    </div>
    <br />

    @foreach (var item in Model.Note)
    {
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center gap-4">
                <span>@item.Title</span>
                <a href="@Url.Action("Note", "Home")/@item.Id" class="btn btn-outline-primary">EDIT</a>
                <button class="btn btn-outline-danger deleteNoteButton" note-id="@item.Id" type="button">DELETE</button>

                </div>
        </div>
        <br />
    }
</div>


@section Scripts {
    <script>
        $("#homeBtn").click(function (event) {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });

        $("#addNewNoteBtn").click(async function (event) {
            try {
                $("#spinner-div").css('display', 'flex');

                const response = await fetch('@Url.Action("NewNote", "Home")', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                const noteId = await response.text()

                window.location.href = `@Url.Action("Note", "Home")/${noteId}`;
            }
            catch {
                alert("ERROR")
            }
        });

        $(".deleteNoteButton").click(async function (event) {
            try {
                if (confirm("Are you sure you want to delete?") == true) {
                    $("#spinner-div").css('display', 'flex');

                    const noteId = $(this).attr("note-id")

                    const response = await fetch(`@Url.Action("DeleteNote", "Home")/${noteId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })

                    window.location.reload();
                } 
            }
            catch {
                alert("ERROR")
            }
        });

    </script>
}