

 <div class="container-fluid" style="background-image: url('/xbg.jpg.pagespeed.ic.tiVxeakBSd.webp'); background-size: cover; height: 100%;">
    <div class="row h-100">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-auto mb-auto">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body p-4 p-sm-5">
                    <h3 class="card-title text-center mb-3 fw-light">
                        Login
                    </h3>
                    <form id="loginForm">
                        <div class="form-floating mb-3">
                            <input
                                type="text"
                                class="form-control"
                                name="nameInput"
                                id="nameInput"
                                required
                            />
                            <label htmlFor="nameInput">
                                Username
                            </label>
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                type="password"
                                class="form-control"
                                   name="passwordInput"
                                   id="passwordInput"
                                   required />
                            <label htmlFor="passwordInput">
                                Password
                            </label>
                        </div>

                        <div class="d-grid">
                            <button
                                class="btn btn-primary btn-login text-uppercase fw-bold"
                                type="submit"
                            >
                                Sign in
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $("#loginForm").submit(async function (event) {
            event.preventDefault();
            const Name = $("#nameInput").val()
            const SecretPhase = $("#passwordInput").val()
            const account = { Name : Name, SecretPhase: SecretPhase }
            try{
                await fetch('@Url.Action("Login", "Home")', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(account)
                })

                location.reload();
            }
            catch{
                alert("ERROR")
            }
        });
    </script>
}